<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img style="width:50%;" src="./assets/img/a.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jungle Cruise (2021)</h5>
          <p class="card-text">
            Género: Acción, Fantasía, Aventuras, Comedia
            Reparto : Dwayne Johnson, Emily Blunt, Edgar Ramírez
            Director: Jaume Collet-Serra
            Rating: PG-13
            Duración: 127 minutos</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img style="width:50%;" src="./assets/img/b.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">X-Men: First Class (2011)</h5>
          <p class="card-text">
            Género: Acción, Sci-Fi, Aventuras
            Reparto : James McAvoy, Michael Fassbender, Jennifer Lawrence
            Director: Matthew Vaughn
            Rating: PG-13
            Duración: 132 minutos
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img style="width:50%;" src="./assets/img/c.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Black Widow (2021)</h5>
          <p class="card-text">
            Género: Acción
            Reparto: Scarlett Johansson, Florence Pugh, David Harbour, Rachel Weisz
            Director: Cate Shortland
            Rating: PG-13
            Duración: 133 minutos</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img style="width:50%;" src="./assets/img/d.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Up (2009)</h5>
          <p class="card-text">
            Género: Animación, Comedia, Familia, Aventuras
            Reparto : Ed Asner, Christopher Plummer, Jordan Nagai
            Director: Destin Daniel Cretton
            Rating: PG
            Duración: 96 minutos
          </p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img style="width:50%;" src="./assets/img/e.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dan in Real Life (2007)</h5>
            <p class="card-text">
              Género: Comedia, Romance, Drama
              Reparto : Steve Carell, Juliette Binoche, Dane Cook
              Director: Peter Hedges
              Rating: PG-13
              Duración: 86 minutos</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img style="width:50%;" src="./assets/img/f.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shang-Chi and the Legend of the Ten Rings (2021)</h5>
            <p class="card-text">
              Género: Acción, Fantasía, Aventuras
              Reparto : Simu Liu, Tony Leung Chiu-wai, Awkwafina
              Director: Destin Daniel Cretton
              Rating: PG-13
              Duración: 132 minutos</p>
          </div>
        </div>
      </div>
  </div>